# Dependencies
/node_modules

# Build outputs
/lib
/dist

# Environment variables
.env
.env.*
!.env.example

# Firebase
.firebase
firebase-debug.log*
firestore-debug.log*
ui-debug.log*

# Logs & OS
*.log
.DS_Store
Thumbs.db
